body *{
	font-family: Arial;
}
.container{
	width: 970px;
	padding-bottom: 10px;
	color: black;
	background-color: rgb(242, 242, 242);
}
.h1{
	font-family: Comic, Arial, sans-serif;
	display: inline-block;
	margin: 0px 320px 0px 20px;
}
.h2{	
	display: inline-block;
}
.container2{
	width: 950px;
	color: black;
	padding: 20px 0px 20px 20px;
	display: inline-block;
	background: -webkit-radial-gradient(#cdc7d1 5%, #75677e 35%, #1a171c 60%); /* Safari 5.1-6.0 */
    background: -o-radial-gradient(#cdc7d1 5%, #75677e 35%, #1a171c 60%); /* For Opera 11.6-12.0 */
    background: -moz-radial-gradient(#cdc7d1 5%, #75677e 35%, #1a171c 60%); /* For Firefox 3.6-15 */
    background: radial-gradient(#cdc7d1 5%, #75677e 35%, #1a171c 60%); /* Standard syntax */
}
.top_row{
	width: 970px;
	height: 263px;
	margin-bottom: 20px;
}
.img_container{
	height: 263px;
	width: 400px;
	padding: 3px;
	color: black;
	display: inline-block;
	background-color: gray;
}
.resize{
	width: 100%;
}
.about{
	height: 269px;
	width: 496px;
	color: black;
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	background: -webkit-linear-gradient(left, #ffffff, #dad5dd); /* Safari 5.1- 6.0 */
	background: -o-linear-gradient(right, #ffffff, #dad5dd); /* Opera 11.6-12.0 */
	background: -moz-linear-gradient(right, #ffffff, #dad5dd); /* Firefox 3.6-15 */
	background: linear-gradient(right, #ffffff, #dad5dd); /* Standard syntax */
}
.abt_hdr{
	width: 438;
	height: 30px;
	color: white;
	font-weight: bold;
	padding-top: 8px;
	padding-left: 10px;
	font-size: 20px;
	background: -webkit-linear-gradient(#A9A9A9, #808080, #A9A9A9); /* Safari 5.1- 6.0 */
	background: -o-linear-gradient(#A9A9A9, #808080, #A9A9A9); /* Opera 11.6-12.0 */
	background: -moz-linear-gradient(#A9A9A9, #808080, #A9A9A9); /* Firefox 3.6-15 */
	background: linear-gradient(#A9A9A9, #808080, #A9A9A9); /* Standard syntax */
}
.abt_body{
	padding-left: 10px;
	padding-right: 10px;
}
.container3{
	width: 970px;
	display: inline-block;
}
.project{
	width: 293px;
	display: inline-block;
	margin-right: 20px;
	vertical-align: top;
	background: -webkit-linear-gradient(left, #ffffff, #dad5dd); /* Safari 5.1- 6.0 */
	background: -o-linear-gradient(right, #ffffff, #dad5dd); /* Opera 11.6-12.0 */
	background: -moz-linear-gradient(right, #ffffff, #dad5dd); /* Firefox 3.6-15 */
	background: linear-gradient(right, #ffffff, #dad5dd); /* Standard syntax */
}
.prj_img_cnt{
	width: 100%;
	padding: 0px;
}
.prj_hdr{
	font-weight: bold;
	font-size: 18px;
	padding: 7px 0px 7px 10px;
	color: white;
	background: -webkit-linear-gradient(#A9A9A9, #808080, #A9A9A9); /* Safari 5.1- 6.0 */
	background: -o-linear-gradient(#A9A9A9, #808080, #A9A9A9); /* Opera 11.6-12.0 */
	background: -moz-linear-gradient(#A9A9A9, #808080, #A9A9A9); /* Firefox 3.6-15 */
	background: linear-gradient(#A9A9A9, #808080, #A9A9A9); /* Standard syntax */
}
.prj_txt{
	height: 180px;
	padding: 5px;
}
.technologies{
	padding-bottom: 15px;
}
.tch_hdr{
	padding: 5px 10px;
	color: white;
	font-weight: bold;
	background: -webkit-linear-gradient(#A9A9A9, #808080, #A9A9A9); /* Safari 5.1- 6.0 */
	background: -o-linear-gradient(#A9A9A9, #808080, #A9A9A9); /* Opera 11.6-12.0 */
	background: -moz-linear-gradient(#A9A9A9, #808080, #A9A9A9); /* Firefox 3.6-15 */
	background: linear-gradient(#A9A9A9, #808080, #A9A9A9); /* Standard syntax */
}
.technologies button{
	font-weight: bolder;
	padding:5px;
	color:white;
    background-color: green;    
    border-radius: 10px;
    border:solid 1px black;
    margin: 10px 0px 10px 100px;
}
.logos{
	width: 45px;
	padding: 5px 0px;
	margin: 0px 5px;
	display: inline-block;
}
.footer{
	width: 100%;
}
.footer p{
    margin: 0px 0px 15px 365px;
    width: 300px;  
}
.footer ul{
	width: 380px;
	margin: auto;
}
.footer ul li{
	display: inline-block;
}
.footer img{
    width: 15px;
    height:auto;
    margin:auto;
}



