*{
	margin:0;
	padding:0;
	font-family: Arial;
}
#container {
	width: 970px;
	padding: 0px 100px;
	background-color: white;
}
#header1 {
	width: 920px;
}
#header1 img {
	width: 70px;
	position: absolute;
}
#header1 h1 {
	font-size: 40px;
	font-weight: 500;
	color: #4a4a4a;
	margin: 12px 0px 0px 75px;
	display: inline-block;
	vertical-align: top;
}
#header1 h1 span {
	color: #22659e
}
#internet {
	display: inline;
}
#web {
	width: 846px;
	color: #fefeff;
	padding: 7px 7px 7px 17px;
	font-size: 25px;
	font-weight: 500;
	display: inline-block;
	background: #5283ac; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#25669e, #4f81ab, #25669e); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#25669e, #4f81ab, #25669e); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#25669e, #4f81ab, #25669e); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#25669e, #4f81ab, #25669e); /* Standard syntax */
}
#wrapper {
	width: 870px;
	display: inline-block;
	background: #ffffff; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#efefef, #ffffff, #ffffff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#efefef, #ffffff, #ffffff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#efefef, #ffffff, #ffffff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#efefef, #ffffff, #ffffff); /* Standard syntax */
}
#left_column {
	width: 160px;
	font-weight: bold;
	vertical-align: top;
	display: inline-block;
	margin: 20px 5px;
}
#left_top{
	padding-bottom: 20px;
	border-bottom: 1px solid #cecece;
	margin-bottom: 20px;
}
#left_column button {
	height: 30px;
	width: 155px;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	text-align: center;
	font-size: 12px;
}
#video {
	border: none;
	box-shadow: 1px 1px 3px black;
	margin-bottom: 5px;
	background: #2668a0; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#5a91be, #2668a0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#5a91be, #2668a0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#5a91be, #2668a0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#5a91be, #2668a0); /* Standard syntax */
}
#resources {
	border: none;	
	box-shadow: 1px 1px 3px black;
	background: #ef7700; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#edb86e, #ef7700); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#edb86e, #ef7700); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#edb86e, #ef7700); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#edb86e, #ef7700); /* Standard syntax */
}
#learn {
	border: none;
	margin-left: 8px;
	box-shadow: 1px 1px black;
	background: #00c1df; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#76cbdb, #00c1df); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#76cbdb, #00c1df); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#76cbdb, #00c1df); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#76cbdb, #00c1df); /* Standard syntax */
}
#so {
	font-size: 14px;
	margin-bottom: 10px;
}
#so span{
	color: #da322c;
}
#interconnected {
	font-size: 11px;
	margin-bottom: 12px;
}
#interconnected span {
	color: #22659e;
}
#reinvent {
	height: 235px;
	width: 160px;
	color: white;
	background-image: url(ad_background.png); 
	margin-top: 15px;
	box-shadow: 1px 1px 3px gray;
}
#reinvent img {
	width: 70px;
	padding: 0px 45px 5px 45px;
}
#reinvent button{
	height: 25px;
	width: 145px;
	font-size: 14px;
}
#reinvent p {
	width: 140px;
	font-size: 18px;
	padding: 18px 8px 0px 8px;
	text-align: center;
}
#reinvent button span {
	font-size: 8px;
}
#main_content {
	width: 650px;
	display: inline-block;
	margin-left: 35px;
}
#main_header {
	margin-top: 2px;
	border-bottom: 1px solid #cecece;
}
#dns {	
	display: inline-block;
	vertical-align: top;
	margin: 8px 397px 0px 0px;
}
#dns img {
	width: 18px;
	display: inline;
	margin: 0px 3px -2px 0px;
}
#dns h3 {
	color: #22659e;
	font-size: 14px;
	display: inline;
}
#phone {
	display: inline-block;
	margin-bottom: 10px;
}
#phone h3 {
	font-size: 19px;
	font-weight: 900;
	color: #02bfdf;
	vertical-align: top;
}
#phone p {
	font-size: 10px;
	text-align: right;
}
.phone_img{
	width: 33px;
	display: inline;
	margin-bottom: 3px;
}
.info img {
	width: 230px;
	margin-left: 170px;
}
.info h3 {
	font-size: 14px;
	font-weight: 900;
	color: #22659e;
	padding: 5px 0px;
}
.info p {
	padding-bottom: 5px;
}
.info li {
	margin-left: 40px;
	padding-bottom: 5px;
}
.info a {
	color: #35adbf;
	text-decoration: none;
}
.info_text {
	font-size: 12px;
}
#main_box {
	margin-top: 10px;
	border-left: 5px solid #0085e0; 
	border-top: 5px solid #0085e0; 
	border-right: 5px solid #0085e0; 
}
#main_box img {
	height: 75px;
	padding: 10px;
	display: inline;
}
#main_box h3 {
	color: #22659e;
	margin: 10px 0px 5px 0px;
}
#box_text {
	width: 520px;
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
}
#box_text a {
	font-size: 12px;
	color: #35adbf;
	text-decoration: none;
}
#box_text p {
	font-size: 12px;
	margin-top: 5px;
}





